.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  cursor: pointer;
  width: 90%;
  margin: 25px 5%;
  height: 40px;

  &__text {
    color: #283645;
  }
}