.post {
  list-style-type: none;
  color: #283645;

  &__header {
    display: block;
    font-size: 1.5em;
    padding: 20px 5% 0;
    color: #283645;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      background-color: #efefef;

      & ~ p {
        background-color: #efefef;
      }
    }
  }

  &__text {
    width: 90%;
    padding: 25px 5%;
    margin: 0;
  }
}